fastapi
uvicorn[standard]
jinja2
python-dotenv
httpx
requests
python-multipart
aiofiles
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt
python-jose[cryptography]
python-dateutil
wikipedia-api
beautifulsoup4
lxml
loguru
sqlalchemy
gunicorn
orjson
tenacity
cachetools
openai
typing-extensions
jwt
